body {
    margin: 0px;
    height: 100vh;
    background-color: #010101;
}

#root {
    display: flex;
    height: stretch;
}

.Main {
    align-self: center;
    justify-self: center;
}

.Header {
    background-color: var(--color-6);
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    width: 100vw;
    height: 45px;
}

@media screen and (max-width: 600px) {
    .Header {
        height: 90px;
        align-items: center;
    }
}


.DisplaySelect {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.Button {
    background-color: #60606055;
    border: none;
    border-radius: 5px;
    color: aliceblue;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px;
    cursor: pointer;
}

.Button:hover {
    background-color: #606060AA;
}

.Construction {
    display: flex;
    color: aliceblue;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    border-radius: 5px;
    position: absolute;
    top: 65px;
    right: 20px;
    width: 300px;
    height: fit-content;
    background-color: #60606055;
    padding: 20px;
    line-height: 20px;
    gap: 5px;
    flex-wrap: wrap;
    justify-content: space-between;
}

.OKButton {
    background-color: #60606055;
    width: 100px;
    font-weight: 500;
    height: fit-content;
    padding: 3px;
    border-radius: 5px;
    margin: 15px 20px 0px 0px;
    border: solid 2px #FFD;
    z-index: 10;
}

.OKButton:hover {
    cursor: pointer;
    border: solid 2px #9d3;
    background-color: #80808099;
    
}

.HTwo {
    color: aliceblue;
    font-size: 1.5em;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 10px;
}


.HOne {
    color: aliceblue;
    font-size: 1.5em;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 10px;
}

.Footer {
    position: fixed;
    bottom: 0px;
    left: 0px;
    height: 45px;
    width: 100vw;
    background-color: var(--color-6);
}
