body {
    margin: 0px;
    height: 100vh;
    background-color: #010101;
}

#root {
    display: flex;
    height: stretch;
}

.Main {
    align-self: center;
    justify-self: center;
}

.Header {
    background-color: var(--color-6);
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    width: 100vw;
    height: 45px;
}

.Inputs {
    color: aliceblue;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    margin: 10px
}

.HOne {
    color: aliceblue;
    font-size: 1.5em;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 10px;
}

.Footer {
    position: fixed;
    bottom: 0px;
    left: 0px;
    height: 45px;
    width: 100vw;
    background-color: var(--color-6);
}
